body {
	background-color: rgba(0, 0, 0, 0.838);
	text-align: center;
	color: white;
	font-size: 48px;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 50px;
}

img {
	border-radius: 150px;
	width: 150px;
	height: 150px;
}
.container{
	align-items: center;
}
